@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    ::-webkit-scrollbar:horizontal {
        display: block;
        width: 6px;
    }

    ::-webkit-scrollbar {
        display: block;
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-corner {
        background-color: #313131;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        border: 1px solid #1f1f1f;
        background: #1f1f1f;
    }

    ::-webkit-scrollbar-track {
        display: flex;
        width: 6px;
        height: 363px;
        align-items: flex-start;
        border-radius: 9999px;
        background: #313131;
    }
}

body {
    height: 100vh;
}

main {
    height: calc(100% - 80px);
}

@media (max-width: 768px) {
    main {
        padding-bottom: 200px;
        height: 100%;
        overflow-y: scroll;
    }
}
